<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="Login">

  <test name="DesignerLogin">
    <classes>
       <class name="shop.moda.automation.web.DesignerLogin" />
    </classes>
  </test>
  
  <test name="CustomerSignUp">
    <classes>
       <class name="shop.moda.automation.web.CustomerSignUp" />
    </classes>
  </test>
  <test name="CustomerLogin">
    <classes>
       <class name="shop.moda.automation.web.CustomerLogin" />
    </classes>
  </test>
  
  
</suite>  
